  <div class="control-group"> 
    <%= f.label :technology_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :technology_id, :class => 'text_field' %>
    </div>
    <%= link_to_remove_fields "Remove", f %>
  </div>
